

@font-face {
    font-family: 'Roboto-Light', sans-serif;
    src: url('../font/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Medium', sans-serif;
    src: url('../font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    src: url('../font/Roboto/Roboto-Bold.ttf');
}

