

/* Layout css */
/* Start */
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 14px;
}

ul{
    list-style: none;
    margin: 0;
}

.font-scale-1{
    font-size: 1.2rem;
}

.font-scale-2{
    font-size: 1.5rem;
}

.font-scale-3{
    font-size: 2rem;
}

/* Header */
/* Start */
header .logo img{
    width: 150px;
}

header a{
    text-decoration: none;
    color: #222222;
    letter-spacing: 0;
    position: relative;
    font-weight: 400;
    cursor: pointer;
}

header a i{
    font-size: .8rem;
    color: #4d4d4d;
}

header a img{
    margin-top: -2px;
}

header a:hover{
    text-decoration: none;
    color: #222222;
}

header a::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #222222;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

header li{
    padding: 1rem 1rem 0 1rem;
}

header .angle-icon{
    transition: all .2s ease-in;
    display: inline-block;
    transform: rotateZ(-90deg);
}

header .collapsed .angle-icon{
    transform: rotateZ(0);
}

.sub-menu li{
    padding: 1rem .5rem 0 .5rem;
}

.sub-menu{
    z-index: -1; 
    transition: all .2s ease-in;
}

header .btn-toolbar{
    border: none; 
    background: transparent; 
    font-size: 1.2rem;
    cursor: pointer;
}

header .btn-toolbar:focus{
    outline: none;
}

header .menu{
    position: fixed;  
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw; 
    background: #bdbdbd82; 
    z-index: 99; 
    display: none;
}

.m-logo img{
    width: 120px;
}

header .menu-box{
    background: #fff; 
    width: 60%; 
    max-width: 20rem;
    height: 100%; 
    z-index: 99; 
    padding: 1rem 0; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.m-logo{
    padding: 0; 
}
/* End: header */

/* Footer */
/* Start */
footer{
    background: #f5f5f5;
}

.footer-wrapper{
    padding: 5rem 2rem;
}

footer a{
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

footer p{
    font-weight: 300;
    margin: .5rem;
}

footer a:hover{
    text-decoration: none;
    color: #000;
}

footer .title{
    font-weight: 500;
    margin-bottom: 1.5rem;
}
/* End: footer */

/* Responsive */
/* Start*/

/* Loading */
/* Start  */
.loading-wrapper{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #969696d4;
    transition: all .2s ease-in;
    opacity: 0;
    z-index: -1;
}

.loading-wrapper.show{
    z-index: 99;
    opacity: 1;
}

.loading-wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #71717199;
    z-index: 9999999;
}

.loading-logo img{
    width: 200px;
}
/* End: loading */


@media only screen and (min-width: 992px){
    header .menu{
        padding: 0 0 0 4rem;
        position: unset;
        height: auto;
        width: auto;
        background: #fff;
    } 

    header .menu-box{
        background: #fff; 
        width: auto; 
        max-width: unset;
        height: auto; 
        z-index: 99; 
        padding: 1rem 0; 
        box-shadow: none;
    }
    
    header .logo img{
        width: 200px;
    }
    
    .sub-menu{
        position: absolute;
        top: 100%;
        left: 1rem;
        width: 14rem;
        background: #000;
        padding: .8rem 0;
        transition: all .2s ease-out;
        transform: translate(0, -15px);
        opacity: 0;
        z-index: -1;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
    }

    .sub-menu.collapse{
        display: block;
    }

    header .sub-menu a{
        color: #fff;
    }

    header .sub-menu li{
        padding: .5rem 1rem .5rem 1.5rem;
    }
    
    header .sub-menu a::after{
        background: #fff;
    }

    header li{
        padding: .5rem 1rem;
        position: relative;
    }
    
    header a:hover::after{
        transform-origin: left top;
        transform: scale(1, 1);
    }

    header li:hover .sub-menu{
        display: block;
        transform: translate(0, 0);
        opacity: 1;
        z-index: 9;
    }
}


@media only screen and (min-width: 1400px){
    .container{
        max-width: 1260px;
        width: 100%;
        margin: auto;
    }
}

@media only screen and (min-width: 1600px){
    .container{
        max-width: 1440px;
        width: 100%;
        margin: auto;
    }
}

/* End: responsive*/

/* End: layout css */